<main id="main">
  %%SIDEBAR%%
  <label for="email" lang="en">Email:</label>
  <input type="text" id="email" value="%%EMAIL%%" disabled="disabled" />
  <label for="username">Nome utente:</label>
  <input type="text" id="username" value="%%USERNAME%%" disabled="disabled" />
  <label for="password" lang="en">Password:</label>
  <input type="password" id="password" value="%%PASSWORD%%" disabled="disabled" />
  <a href="/area-utente/informazioni-personali/modifica" class="button">Modifica i tuoi dati</a>
  <a href="/area-utente/informazioni-personali/elimina" class="button danger">
    Elimina il tuo <span lang="en">account</span>
  </a>
</main>
