<main>
  <nav>
    <ul>
      <li>
        <a href="/area-utente/informazioni-personali">Informazioni personali</a>
      </li>
      <li>
        <a href="/area-utente/riparazioni">Le tue riparazioni</a>
      </li>
      <li>
        <a href="/area-utente/vendite">Le tue vendite</a>
      </li>
      <li>
        <a href="/area-utente/acquisti">I tuoi acquisti</a>
      </li>
    </ul>
  </nav>
  <label for="email" lang="en">Email:</label>
  <input type="text" id="email" value="%%EMAIL%%" disabled="disabled" />
  <label for="username">Nome utente:</label>
  <input type="text" id="username" value="%%USERNAME%%" disabled="disabled" />
  <label for="password" lang="en">Password:</label>
  <input type="password" id="password" value="%%PASSWORD%%" disabled="disabled" />
  <a href="/area-utente/informazioni-personali/modifica">Modifica i tuoi dati</a>
  <a href="/area-utente/informazioni-personali/elimina">
    Elimina il tuo <span lang="en">account</span>
  </a>
</main>