/* Global
================================================== */
:root {
  font-size: 100%;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif, 'Arial', sans-serif;
  border-width: 0;
  border-style: solid;
  border-color: white;
}

body {
  margin: 0;
}

h1 {
    font-size: 2em;
    font-weight: 700;
}

h2 {
    font-size: 1.5em;
    font-weight: 600;
}

h3 {
    font-size: 1em;
    font-weight: 500;
}

h1, h2, h3 {
    display: inline-block;
    margin: .5em 0;
}

a:link {
  color: #AAF;
}

a:visited {
  color: #FAA;
}

nav ul {
  list-style-type: none;
}

img {
  width: 100%;
  height: 500px;
  vertical-align: middle;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
/* header
================================================== */
#header {
  background-color: #201f1d;
  border-bottom: 1px solid white;
}

#navigation > ul {
    padding-top: 1em;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 2em 1em 2em;
    border-top: 1px solid white;
}

#nomeSito {
  margin: 0 1em;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: default;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  padding: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
  color: green;
}

.dropdown-content li {
  padding: 1em;
}

.dropdown-content li:hover {
  border-left: .5em solid green;
}
/* breadcrumb
================================================== */
#breadcrumb {
  padding: 1em;
  background-color: #201f1d;
  color: white;
  border-left: .5em solid green;
}

#breadcrumb p {
  margin: 0;
}
/* main
================================================== */
main {
  padding: 1em;
}
/* home
================================================== */
#home {
  background-color: #201f1d;
  color: white;
}

.dispN {
  display: none
}

#mainSlidingImg {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 1em 2em;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.text h3 {
  font-size: 2.5em;
}

.text p {
  margin: 1em;
  font-size: 1em;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dots {
  text-align:center;
  margin: 1em;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#mainCategory {
  margin: 2em 0;
  text-align: center;
  font-size: 1.5em;
}

.focus {
  color: green;
  font-style: oblique;
}

#mainCategory ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#mainCategory ul li {
  padding: 0 1em;
}

.categoryImg {
  width: 324px;
  height: 324px;
}
/* footer
================================================== */
#footer {
  padding: 1em;
  background-color: #201f1d;
  color: white;
  border-top: 1px solid white;
}

p {
  margin: 1em 0;
}
