<main id="main">
  %%SIDEBAR%%
  <h2>Informazioni personali</h2>
  <form class="form">
    <fieldset disabled="disabled">
      <legend class="visually-hidden">Le tue informazioni</legend>
      <label for="email" lang="en">Email:</label>
      <input type="text" id="email" value="%%EMAIL%%" />
      <label for="username">Nome utente:</label>
      <input type="text" id="username" value="%%USERNAME%%" />
      <label for="password" lang="en">Password:</label>
      <input type="text" id="password" value="%%PASSWORD%%" />
      <div>
        <a class="button" href="/area-amministratore/informazioni-personali/modifica">
          Modifica i tuoi dati
        </a>
        <a class="button danger" href="/area-amministratore/informazioni-personali/elimina">
          Elimina l'<span lang="en">account</span>
        </a>
      </div>
    </fieldset>
  </form>
</main>
