<main id="main">
  %%SIDEBAR%%
  <h2>Informazioni personali</h2>
  <form class="form">
    <fieldset disabled="disabled">
      <label for="email" lang="en">Email:</label>
      <input type="text" id="email" value="%%EMAIL%%" />
      <label for="username">Nome utente:</label>
      <input type="text" id="username" value="%%USERNAME%%" />
      <label for="password" lang="en">Password:</label>
      <input type="password" id="password" value="%%PASSWORD%%" />
      <a class="button" href="/area-amministratore/informazioni-personali/modifica">
        Modifica i tuoi dati
      </a>
      <a class="button danger" href="/area-amministratore/informazioni-personali/elimina">
        Elimina l'<span lang="en">account</span>
      </a>
    </fieldset>
  </form>
</main>