<main id="main">
  <h2>Registrazione</h2>
  <p>%%ERROR%%</p>
  <form action="" method="post" class="form">
    <fieldset>
      <legend>Credenziali di accesso</legend>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" placeholder="Indirizzo E-mail" required="required">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" placeholder="Password" required="required">
      <input id="submit" type="submit" class="button submit" value="Invia" />
    </fieldset>
  </form>
</main>
