<main id="main">
  <h2>Registrazione</h2>
  <p>%%ERROR%%</p>
  <form id="signup" class="form" action="" method="post">
    <fieldset>
      <legend>Credenziali di accesso</legend>
      <label for="username">Nome utente:</label>
      <input
          type="text"
          id="username"
          name="username"
          placeholder="Nome utente:"
      />
      <p id="username-alert" class="hidden" role="alert">
        Il nome utente deve contenere tra 4 e 10 caratteri (solo lettere minuscole e numeri ammessi).
      </p>
      <label for="email">Indirizzo <span lang="en">email</span>:</label>
      <input
          type="email"
          id="email"
          name="email"
          placeholder="Indirizzo email:"
      />
      <p id="email-alert" class="hidden" role="alert">
        Formato dell'indirizzo <span lang='en'>email</span> fornito non valido.
      </p>
      <label for="password" lang="en">Password:</label>
      <input
          type="password"
          id="password"
          name="password"
          placeholder="Password:"
      />
      <p id="pwd-alert" class="hidden" role="alert">
        La password deve contenere tra gli 8 e i 40 caratteri alfanumerici, di cui almeno un numero e una lettera maiuscola.
      </p>
      <input id="submit" type="submit" class="button submit" value="Invia" />
    </fieldset>
  </form>
</main>
