<table class="specs">
  <caption>Specifiche tecniche del dispositivo</caption>
  <tbody>
  <tr>
    <th scope="row">Anno</th>
    <td>%%RELEASED_AT%%</td>
  </tr>
  <tr>
    <th scope="row">Sistema operativo</th>
    <td>%%OS%%</td>
  </tr>
  <tr>
    <th scope="row">Grandezza schermo</th>
    <td>%%DISPLAY_SIZE%%</td>
  </tr>
  <tr>
    <th scope="row">Risoluzione schermo</th>
    <td>%%DISPLAY_RESOLUTION%%</td>
  </tr>
  <tr>
    <th scope="row">Fotocamera posteriore</th>
    <td>%%CAMERA_PIXELS%%</td>
  </tr>
  <tr>
    <th scope="row">Processore</th>
    <td>%%CHIPSET%%</td>
  </tr>
  <tr>
    <th scope="row">Grandezza batteria</th>
    <td>%%BATTERY_SIZE%%</td>
  </tr>
  <tr>
    <th scope="row">Tipo batteria</th>
    <td>%%BATTERY_TYPE%%</td>
  </tr>
  <tr>
    <th scope="row" lang="en">Bluetooth</th>
    <td>%%BLUETOOTH%%</td>
  </tr>
  <tr>
    <th scope="row">Tipo <abbr title="Subscriber Identity Module">SIM</abbr></th>
    <td>%%SIM%%</td>
  </tr>
  <tr>
    <th scope="row"><abbr title="Global Positioning System">GPS</abbr></th>
    <td>%%GPS%%</td>
  </tr>
  <tr>
    <th scope="row">Peso</th>
    <td>%%WEIGHT%%</td>
  </tr>
  <tr>
    <th scope="row">Dimensioni</th>
    <td>%%DIMENSIONS%%</td>
  </tr>
  </tbody>
</table>