<header id="header">
  <h1 id="site-name">
    <a href="/">%%SITENAME%%</a>
  </h1>
  <a class="sr-only" href="#breadcrumb">Salta la navigazione</a>
  <nav id="navigation">
    <ul>
      <li><a href="/chi-siamo">Chi siamo</a></li>
      <li><a href="/riparazione">Riparazione</a></li>
      <li><a href="/vendita">Vendita</a></li>
      <li><a href="/acquisto">Acquisto</a></li>
      <li><a href="/carrello">Carrello</a></li>
      <li><a href="/login" lang="en">Login</a></li>
      <li><a href="/registrazione">Registrazione</a></li>
    </ul>
  </nav>
</header>
