<header id="header">
  <h1 id="site-name">
    <a href="/">%%SITENAME%%</a>
  </h1>
  <p id="user-welcome">%%USER%%</p>
  <nav id="user-nav">
    <ul>
      %%LOGIN%%
      %%LOGOUT%%
      %%SIGNUP%%
    </ul>
  </nav>
  <a class="sr-only" href="#breadcrumb">Salta la navigazione</a>
  <nav id="navigation">
    <ul>
      <li><a href="/chi-siamo">Chi siamo</a></li>
      <li><a href="/riparazione">Riparazione</a></li>
      <li><a href="/negozio">Negozio</a></li>
      <li><a href="/carrello">Carrello</a></li>
    </ul>
  </nav>
</header>
