<main class="main">
  <!-- TODO cambiare immagini con quelle di smartphone-->
  <div id="mainSlidingImg">
    <div class="mySlides fade">
      <div class="numbertext">1 / 4</div>
      <img src="/public/img/portatile.jpg">
      <!-- TODO missing alt attribute -->
      <div class="text">
        <h3>Caption title</h3>
        <p>Caption text</p>
      </div>
    </div>

    <div class="mySlides fade dispN">
      <div class="numbertext">2 / 4</div>
      <img src="/public/img/riparazione.jpg">
      <div class="text">
        <h3>Caption title</h3>
        <p>Caption text</p>
      </div>
    </div>

    <div class="mySlides fade dispN">
      <div class="numbertext">3 / 4</div>
      <img src="/public/img/telefoni.jpg">
      <div class="text">
        <h3>Caption title</h3>
        <p>Caption text</p>
      </div>
    </div>

    <div class="mySlides fade dispN">
      <div class="numbertext">4 / 4</div>
      <img src="/public/img/tablet.jpg">
      <div class="text">
        <h3>Caption title</h3>
        <p>Caption text</p>
      </div>
    </div>

    <a class="prev" onclick="f['plusSlides'](-1)" aria-label="precedente">&lt;</a>
    <a class="next" onclick="f['plusSlides'](1)" aria-label="successiva">&gt;</a>

    <div class="dots">
      <span class="dot" onclick="f['currentSlide'](1)" aria-hidden="true"></span>
      <span class="dot" onclick="f['currentSlide'](2)" aria-hidden="true"></span>
      <span class="dot" onclick="f['currentSlide'](3)" aria-hidden="true"></span>
      <span class="dot" onclick="f['currentSlide'](4)" aria-hidden="true"></span>
    </div>

  </div>
  <div id="mainCategory">
    <h2>Categorie <span class="focus">più popolari</span></h2>
    <nav>
      <ul>
        <li>
          <a href="/acquisto?category=portatile">
            <img class="categoryImg" src="/public/img/pc.jpg" alt="immagine computer portatile">
            <span class="button popularCategory">Portatile</span>
          </a>
        </li>
        <li>
          <a href="/acquisto?category=fisso">
            <img class="categoryImg" src="/public/img/pc.jpg" alt="immagine computer fisso">
            <span class="button popularCategory">Fisso</span>
          </a>
        </li>
        <li>
          <a href="/acquisto?category=smartphone">
            <img class="categoryImg" src="/public/img/pc.jpg" alt="immagine telefono">
            <span lang="en" class="button popularCategory">Smartphone</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</main>
