/* Global
================================================== */
:root {
  font-size: 100%;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif, 'Arial', sans-serif;
  border-width: 0;
  border-style: solid;
  border-color: white;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  font-weight: 700;
}

h2 {
  font-size: 1.5em;
  font-weight: 600;
}

h3 {
  font-size: 1em;
  font-weight: 500;
}

p, h1, h2, h3 {
  margin: 1rem 0;
}

a:link {
  color: #AAF;
}

a:visited {
  color: #FAA;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
/* header
================================================== */
#header {
  padding: 0 2em;
  color: white;
  background-color: #201f1d;
  border-bottom: 1px solid white;
}

#site-name {
  display: inline-block;
}

#navigation > ul {
    padding: 1em 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid white;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: default;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
  color: green;
}

.dropdown-content li {
  padding: 1em;
}

.dropdown-content li:hover {
  border-left: .5em solid green;
}
/* breadcrumb
================================================== */
#breadcrumb {
  padding: 1em;
  background-color: #201f1d;
  color: white;
  border-left: .5em solid green;
}

#breadcrumb p {
  margin: 0;
}
/* main
================================================== */
main {
  padding: 0 1em;
}
/* home
================================================== */
#home {
  background-color: #201f1d;
  color: white;
}

.dispN {
  display: none
}

#mainSlidingImg {
  max-width: 100%;
  position: relative;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 1em;
  color: white;
  background-color: #201f1d;
  font-weight: bold;
  transition: 0.6s ease;
  user-select: none;
}

.prev:hover, .next:hover {
  background-color: white;
  color: #201f1d;
}

.prev {
  left: 1em;
}

.next {
  right: 1em;
}

.mySlides {
  position: relative;
}

.mySlides img {
  display: block;
  margin: auto;
  height: 500px;
}

.text {
  color: #f2f2f2;
  position: absolute;
  bottom: .5em;
  width: 100%;
  text-align: center;
}

.text h3 {
  font-size: 2.5em;
}

.numbertext {
  color: #f2f2f2;
  position: absolute;
  font-size: .75em;
  top: .5em;
  left: .5em;
}

.dots {
  text-align:center;
  margin: 1em;
}

.dot {
  cursor: pointer;
  height: 1em;
  width: 1em;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#mainCategory {
  text-align: center;
  font-size: 1.5em;
}

.focus {
  color: green;
  font-style: oblique;
}

#mainCategory ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#mainCategory ul li {
  padding: 0 1em;
}

.categoryImg {
  width: 324px;
  height: 324px;
}
/* acquisto
================================================== */
#items {
  padding: 1em;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1em;
}

.item {
  width: 22vw;
  padding: .5em;
  border: 1px solid black;
}

.item img {
  width: 100%;
  height: auto;
}
/* footer
================================================== */
#footer {
  padding: 1em;
  background-color: #201f1d;
  color: white;
  border-top: 1px solid white;
}
