/* Global
================================================== */
:root {
  font-size: 100%;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif, 'Arial', sans-serif;
  border-width: 0;
  color: #152238;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  font-weight: 700;
}

h2 {
  font-size: 1.5em;
  font-weight: 600;
}

h3 {
  font-size: 1em;
  font-weight: 500;
}

p, h1, h2, h3 {
  margin: 1rem 0;
}

a:link {
  color: #002D72;
}

a:visited {
  color: #551A8B;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  border: 1px solid #8C92AC;
}

fieldset {
  padding: 0;
  margin: 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="file"] {
  width: 100%;
  border: 1px solid #8C92AC;
  border-radius: .5em;
  background-color: #F7F7F7;
  padding: .5em;
  margin: 1em 0;
}

input[type="text"]::placeholder, input[type="password"]::placeholder, input[type="email"]::placeholder {
  color: #45555D;
}

select {
  padding: 0 .25em;
  border: 1px solid #8C92AC;
  border-radius: .5em;
}

select:disabled, input:disabled {
  background-color: #D0D0DC;
  color: #45555D;
  cursor: not-allowed;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.hidden {
  display: none
}

.form {
  width: 75%;
  margin: 3em auto;
}

.form > fieldset {
  padding: 1em;
  background-color: #FFFFFF;
  border: 1px solid #8C92AC;
  border-radius: 1em;
}

.form > input:not(.submit) { display: block; }

.form > fieldset > legend {
  position: relative;
  margin: 0 auto 0 0;
  padding: .25em;
  background-color: #FFFFFF;
  border: 1px solid #8C92AC;
  border-radius: .5em;
  text-align: center;
}

.button {
  padding: 1em;
  font-size: 1em;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #046A38;
  border-radius: .5em;
  transition-duration: .25s;
}

.button:hover {
  background-color: #046A38;
}

.hidden{
  display: none;
}

/* header
================================================== */
#header {
  padding: 0 2em;
  background-color: #D0D0DC;
  border-bottom: 1px solid #8C92AC;
}

#site-name {
  display: inline-block;
}

#navigation > ul {
  padding: 1em 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #8C92AC;
}

/* breadcrumb
================================================== */
#breadcrumb {
  padding: 1em;
  background-color: #D0D0DC;
  border-bottom: 1px solid #8C92AC;
}

#breadcrumb p {
  margin: 0;
}

/* main
================================================== */
#main {
  padding: 1em;
  background: #E0E0F0;
}

/* home
================================================== */
#mainSlidingImg {
  position: relative;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 1em;
  background-color: #D0D0DC;
  border: 1px solid #8C92AC;
  font-weight: bold;
  transition: 0.6s ease;
  user-select: none;
}

.prev:hover, .next:hover {
  background-color: #152238;
  color: #D0D0DC;
}

.prev {
  left: 1em;
}

.next {
  right: 1em;
}

.mySlides {
  position: relative;
}

.mySlides img {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 500px;
}

.text {
  position: absolute;
  bottom: 1em;
  width: 100%;
}

.text > div {
  width: 50%;
  margin: auto;
  padding: 0 1em;
  background-color: #D0D0DC;
  border: 1px solid #8C92AC;
  border-radius: .5em;
  text-align: center;
}

.text h3 {
  font-size: 2em;
}

.numbertext {
  position: absolute;
  top: .5em;
  left: .5em;
  padding: .5em;
  background-color: #D0D0DC;
  border: 1px solid #8C92AC;
  border-radius: .5em;
}

.dots {
  text-align:center;
  margin: 1em;
}

.dot {
  cursor: pointer;
  height: 1em;
  width: 1em;
  background-color: #BBBBBB;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#mainCategory {
  text-align: center;
  font-size: 1.5em;
}

.focus {
  color: green;
  font-style: oblique;
}

#mainCategory ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#mainCategory ul li {
  padding: 0 1em;
}

.categoryImg {
  width: 324px;
  height: 324px;
}

.popularCategory {
  display: block;
  margin: 1em;
  padding: 1em;
  background: linear-gradient(to left, white 50%, #4CAF50 50%) right;
  background-size: 200%;
  transition: .5s ease-out;
  color: black;
  border: 2px solid #4CAF50;
  border-radius: .5em;
}

.popularCategory:hover {
  background-position: left;
  color: white;
}

/* acquisto
================================================== */
#items {
  list-style-type: none;
  padding: 1em;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
  gap: 1em;
}

.item {
  border: 1px solid #8C92AC;
}

.item > img {
  width: 100%;
  height: auto;
}

.item > div {
  padding: .5em;
}

/* chi siamo
================================================== */

#map{
  width: 100%;
  height: 500px;
  padding: 0;
  border: 1px solid green;
  border-radius: 1em;
}

/* riparazione
================================================== */
#infoDisp, #infoDanno{
  margin-bottom: 1em;
  padding: 1em;
  border: 1px solid #8C92AC;
  border-radius: 12px;
}

.container legend{
  font-size: 1em;
  font-weight: bold;
}

/* carrello
================================================== */
#totalebox{
  margin: 1em;
  padding: 1em;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

#totalebox p{
  font-size: 1em;
  font-weight: 600;
}

.payButton{
  padding: 1em;
  font-size: 1.5em;
  background: linear-gradient(to left, white 50%, #4CAF50 50%) right;
  background-size: 200%;
  transition: .5s ease-out;
  color: black;
  border: 2px solid #4CAF50;
  border-radius: .5em;
}


.payButton:hover {
  background-position: left;
  color: white;
}

#totale{
  font-size: 2em;
  color: green;
}

/* footer
================================================== */
#footer {
  padding: 1em;
  background-color: #D0D0DC;
  border-top: 1px solid #8C92AC;
}
