/* Global
================================================== */
:root {
  font-size: 100%;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif, 'Arial', sans-serif;
  border-width: 0;
  border-style: solid;
  border-color: white;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  font-weight: 700;
}

h2 {
  font-size: 1.5em;
  font-weight: 600;
}

h3 {
  font-size: 1em;
  font-weight: 500;
}

p, h1, h2, h3 {
  margin: 1rem 0;
}

a:link {
  color: #AAF;
}

a:visited {
  color: #FAA;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: .5em;
  transition-duration: 0.4s;
}

.main {
  background-color: #201f1d;
  color: white;
  padding: 1em;
  min-height: 789px;
}

.hidden{
  display: none;
}

.evidenziato{
  font-weight: bold;
  color: green;
}

/* header
================================================== */
#header {
  padding: 0 2em;
  color: white;
  background-color: #201f1d;
  border-bottom: 1px solid white;
}

#site-name {
  display: inline-block;
}

#navigation > ul {
    padding: 1em 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid white;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: default;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  border: .2em solid green;
  border-radius: .5em;
}

.show, .dropdown:hover .dropdown-content{
  display: block;
}

.dropdown-content li {
  padding: 1em;
  border-bottom: 1px solid grey;
}

.dropdown-content li:hover {
  border-left: .5em solid green;
}

.dropbtn{
  background: none!important;
  border: none;
  padding: 0!important;
  /*input has OS specific font-family*/
  color: white;
  cursor: pointer;
  font-size: 16px;
}
/* breadcrumb
================================================== */
#breadcrumb {
  padding: 1em;
  background-color: #201f1d;
  color: white;
  border-left: .5em solid green;
  border-bottom: 1px solid white;
}

#breadcrumb p {
  margin: 0;
}
/* main
================================================== */
main {
  padding: 0 1em;
}
/* home
================================================== */

.dispN {
  display: none
}

#mainSlidingImg {
  max-width: 100%;
  position: relative;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 1em;
  color: white;
  background-color: #201f1d;
  font-weight: bold;
  transition: 0.6s ease;
  user-select: none;
}

.prev:hover, .next:hover {
  background-color: white;
  color: #201f1d;
}

.prev {
  left: 1em;
}

.next {
  right: 1em;
}

.mySlides {
  position: relative;
}

.mySlides img {
  display: block;
  margin: auto;
  height: 500px;
}

.text {
  color: #f2f2f2;
  position: absolute;
  bottom: .5em;
  width: 100%;
  text-align: center;
}

.text h3 {
  font-size: 2.5em;
}

.numbertext {
  color: #f2f2f2;
  position: absolute;
  font-size: .75em;
  top: .5em;
  left: .5em;
}

.dots {
  text-align:center;
  margin: 1em;
}

.dot {
  cursor: pointer;
  height: 1em;
  width: 1em;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#mainCategory {
  text-align: center;
  font-size: 1.5em;
}

.focus {
  color: green;
  font-style: oblique;
}

#mainCategory ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#mainCategory ul li {
  padding: 0 1em;
}

.categoryImg {
  width: 324px;
  height: 324px;
}

.popularCategory{
  display: block;
  margin: 1em;
  padding: 1em;
  background: linear-gradient(to left, white 50%, #4CAF50 50%) right;
  background-size: 200%;
  transition: .5s ease-out;
  color: black;
  border: 2px solid #4CAF50;
  border-radius: .5em;
}

.popularCategory:hover {
  background-position: left;
  color: white;
}
/* acquisto
================================================== */
#items {
  padding: 1em;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1em;
}

.item {
  width: 22vw;
  padding: .5em;
  border: 1px solid black;
}

.item img {
  width: 100%;
  height: auto;
}
/* Registrazione/Login
================================================== */
.form-holder {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
}

.form-holder .form-content {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;
}

.form-content .form-items {
    border: 3px solid #fff;
    padding: 2em;
    display: inline-block;
    width: 540px;
    border-radius: 10px;
    text-align: left;
}

.form-content h3 {
    color: #fff;
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-content h3.form-title {
    margin-bottom: 30px;
}

.form-content p {
    color: #fff;
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
}


.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
    color: #fff;
}

.form-content input[type=text], .form-content input[type=password], .form-content input[type=email]{
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.submit{
  margin: 1em 0;
  padding: 1em;
  font-size: 1em;
  font-weight: 600;
}

.submit:hover{
  background-color: #28662a;
}

.mv-up{
    margin-top: -9px !important;
    margin-bottom: 8px !important;
}

.invalid-feedback{
    color: #ff606e;
}

.valid-feedback{
   color: #2acc80;
}
/* chi siamo
================================================== */
.container{
  margin: 1em;
  background-color: white;
  border: .2em solid;
  color: black;
  border-radius: .5em;
}

.subtitle{
  background-color: green;
  color: white;
  text-align: center;
  padding: .5em;
  margin: 0;
}

.testiLunghi{
  padding: 1em;
}

.orario p span{
  display: inline;
  font-size: 1.2em;
}

.info, .info span{
  padding: 1em;
  display: block;
}

.info p, .info span{
  font-size: 1em;
  font-weight: 600;
}

#map{
  width: 100%;
  height: 500px;
  padding: 0;
  border: 1px solid green;
  border-radius: 1em;
}

/* carrello
================================================== */
#totalebox{
  margin: 1em;
  padding: 1em;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

#totalebox p{
  font-size: 1em;
  font-weight: 600;
}

.payButton{
  padding: 1em;
  font-size: 1.5em;
  background: linear-gradient(to left, white 50%, #4CAF50 50%) right;
  background-size: 200%;
  transition: .5s ease-out;
  color: black;
  border: 2px solid #4CAF50;
  border-radius: .5em;
}


.payButton:hover {
  background-position: left;
  color: white;
}

 #totale{
   font-size: 2em;
   color: green;
 }
 /* riparazione
 ================================================== */
 #riparazioneBox{
   padding: 1em;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 #infoDisp, #infoDanno{
   margin-bottom: 1em;
   padding: 1em;
   border: 1px solid green;
   border-radius: 12px;
 }

 #riparazioneBox input[type=text], #riparazioneBox input[type=file], #riparazioneBox textarea{
   width: 100%;
   padding: 9px 20px;
   text-align: left;
   border: 1px solid black;
   outline: 0;
   border-radius: 6px;
   background-color: #fff;
   font-size: 15px;
   font-weight: 300;
   color: #8D8D8D;
   margin-top: 1em;
   margin-bottom: 1.5em;
 }

 #riparazioneBox textarea{
   resize: none;
   width: 100%;
   height: 5em;
 }

 .container legend{
   font-size: 1em;
   font-weight: bold;
 }

 .reset, .invia{
   margin: 1em 0;
   padding: 1em;
   font-size: 1em;
   font-weight: 600;
   margin-left: auto;
 }

 .reset:hover, .invia:hover{
   background-color: #28662a;
 }

 .disabled{
   background: #dddddd;
 }
/* footer
================================================== */
#footer {
  padding: 1em;
  background-color: #201f1d;
  color: white;
  border-top: 1px solid white;
}
