/* header
================================================== */
#navigation > ul {
  flex-wrap: wrap;
}

/* home
================================================== */
.slide-text {
  position: static;
}

.slide-text > div {
  width: 100%;
}

/* acquisto
================================================== */
#items {
  grid-template-columns: 100%;
}