p, h1, h2, h3 {
  margin: .75rem 0;
}

/* header
================================================== */
#navigation > ul {
  flex-wrap: wrap;
  gap: .75em;
}

/* home
================================================== */
.slide-text {
  position: static;
}

.slide-text > div {
  width: 100%;
}

/* acquisto
================================================== */
#items {
  grid-template-columns: 100%;
}