<main id="main">
	<section>
		<h2>Chi siamo</h2>
		<p>
			<span lang="en">Albert Einstein</span> prefigurava un futuro nel quale le macchine sarebbero riuscite a
			risolvere qualsiasi tipo di problema, ma soprattutto senza porne alcuno a chi le adoperasse.
			Sulla scia di questo ambizioso auspicio si pongono gli obiettivi personali e professionali della nostra
			attivit&agrave;, specializzata nella manutenzione di smartphone.
		</p>
		<img
				id="chi-siamo-img-1"
				src="/public/img/chisiamo.jpg"
				alt="Gli strumenti che utilizziamo ci permettono di ispezionare i dispositivi con la massima cura e precisione"
		/>
		<p>
			La nostra professionalit&agrave; &egrave; strettamente legata ad un'altra sua qualit&agrave;, la caparbiet&agrave;,
			che ogni giorno si manifesta nelle fasi di diagnosi e risoluzione del problema, permettendoci di trovare una
			risposta soddisfacente ed esaustiva ad ogni esigenza dei clienti: il dialogo ed il confronto rappresentano due
			momenti fondamentali.
		</p>
		<p>
			In altre parole, se il vostro dispositivo presenta delle anomalie e richiede un controllo immediato
			o un intervento più invasivo, non esitate a contattarci. Troverete attenzione e professionalità, al
			fine di individuare il problema del vostro dispositivo. Con la giusta attenzione e precisione qualunque
			cosa può essere aggiustata, così come il progresso tecnologico non esisterebbe senza la rottura e la
			successiva riparazione.
		</p>
	</section>
	<section>
		<h2>Contatti</h2>
		<p>Numero di telefono: <a href="tel:+390423372651" aria-label="Numero di telefono: 0423372651">0423372651</a></p>
		<p><span lang="en">E-mail</span>: <a href="mailto:email@gmail.com">nomeDelSito@gmail.com</a></p>
	</section>
	<section>

	</section>
	<h2>Orari di apertura</h2>
	<p>
		Siamo aperti da luned&igrave; a venerd&igrave; dalle ore <span class="evidenziato">09:00</span> alle ore
		<span class="evidenziato">13:00</span> e dalle ore <span class="evidenziato">15:00</span> alle ore <span class="evidenziato">19:00</span>
	</p>
	<section>
		<h2>Dove siamo</h2>
		<p id="pos-desc">
			Ci troviamo in Via del Convento, 35, San Pietro Viminario (Provincia di Padova).
		</p>
		<img id="chi-siamo-img-2" src="/public/img/posizione.jpg" alt="" aria-labelledby="pos-desc" />
	</section>
</main>
