<main>
  <h2>Chi siamo</h2>
  <p>
    <span lang="en">Albert Einstein</span> prefigurava un futuro nel quale le macchine sarebbero riuscite a
    risolvere qualsiasi tipo di problema, ma soprattutto senza porne alcuno a chi le adoperasse.
    Sulla scia di questo ambizioso auspicio si pongono gli obiettivi personali e professionali della nostra
    attività, specializzata nella manutenzione di smartphone.
  </p>
  <img src="/public/img/chisiamo.jpg" alt="" />
  <!-- TODO aggiungere alt!!! -->
  <p>
    In altre parole, se il vostro dispositivo presenta delle anomalie e richiede un controllo immediato
    o un intervento più invasivo, non esitate a contattarci. Troverete attenzione e professionalità, al
    fine di individuare il problema del vostro dispositivo. Con la giusta attenzione e precisione qualunque
    cosa può essere aggiustata, così come il progresso tecnologico non esisterebbe senza la rottura e la
    successiva riparazione.
  </p>
</main>