<main id="main">
  <h2>Login</h2>
  <p>%%ERROR%%</p>
  <form id="signin" class="form" action="" method="post">
    <fieldset>
      <legend>Credenziali di accesso</legend>
      <label for="username">Nome utente:</label>
      <input type="text" id="username" name="username" placeholder="Nome utente" required="required" />
      <label for="password" lang="en">Password:</label>
      <input type="password" id="password" name="password" placeholder="Password" required="required" />
      <input id="submit" type="submit" class="button submit" value="Invia" />
    </fieldset>
  </form>
</main>
