<main id="main">
  <h2>Login</h2>
  <p>%%ERROR%%</p>
  <form id="signin" class="form" action="?redirect=%%REDIRECT%%" method="post">
    <fieldset>
      <legend>Credenziali di accesso</legend>
      <label for="username">Nome utente:</label>
      <input type="text" id="username" name="username" placeholder="Nome utente" />
      <label for="password" lang="en">Password:</label>
      <input type="password" id="password" name="password" placeholder="Password" />
      <p>Non possiedi un <span lang="en">account</span>? <a href="/registrazione">Registrati!</a></p>
      <div>
        <input id="submit" type="submit" class="button submit" value="Invia" />
      </div>
    </fieldset>
  </form>
</main>
