<main class="main">
  <div class="container">
  <form action="" method="post" enctype="multipart/form-data">
    <fieldset id="infoDisp">
      <legend>Informazioni sul dispositivo</legend>
	     <label for="marchio">Marchio del dispositivo: </label>
      <input id="marchio" name="marchio" type="text" required="required" />
  	  <label for="serie">Serie del dispositivo: </label>
      <input id="serie" name="serie" type="text" />
	</fieldset>
    <fieldset id="infoDanno">
      <legend>Informazioni sul danno/malfunzionamento</legend>
      <label for="description">Fornire una descrizione del danno/malfunzionamento:</label>
      <textarea id="description" name="description" type="text" required="required" />
      <label for="image">Caricare un'immagine del danno (facoltativo):</label>
      <input id="image" name="image" type="file" accept="image/*" />
    </fieldset>
	<input class="button" type="reset" value="Reset" />
	<input class="button" type="submit" value="Invia" />
  </form>
  </div>
</main>
