<main id="main">
  <h2>Articoli</h2>
  <form action="" method="get" class="form">
    <fieldset>
      <legend>Filtro contenuti</legend>
      <label for="brand">Scegli una marca:</label>
      <select id="brand" name="brand" onchange="f['getModels']()" disabled="disabled">
        <option value="">--Seleziona--</option>
      </select>
      <label for="model">Scegli un modello:</label>
      <select id="model" name="model" disabled="disabled">
        <option value="">--Seleziona--</option>
      </select>
      <input type="submit" value="Applica filtro" />
    </fieldset>
  </form>
  <ul id="items">
	  %%ITEMS%%
  </ul>
</main>