<main>
	<div id="sidebar">
        <div id="categories">
            <h2>Categorie</h2>
            <ul>
                <li>
                    <a id="all" href="./">Tutto</a>
                </li>
                <li>
                    <a id="portatile" href="./?category=portatile" lang="en">Portatili</a>
                </li>
                <li>
                    <a id="fisso" href="./?category=fisso">Fissi</a>
                </li>
                <li>
                    <a id="telefonia" href="./?category=telefonia">Telefonia</a>
                </li>
                <li>
                    <a id="tablet" href="./?category=tablet">Tablet</a>
                </li>
            </ul>
        </div>
    </div>
  <h2>Articoli</h2>
  <div id="listaProdotti">
	%%ITEMS%%
  </div>
</main>