<main>
  <h2>%%NAME%%</h2>
  <p>%%PRICE%%</p>
  <div id="images">
    %%IMAGES%%
  </div>
  <table>
    <tr>
      <td>Grandezza schermo</td>
      <td>%%DISPLAY_SIZE%%</td>
    </tr>
    <tr>
      <td>Risoluzione schermo</td>
      <td>%%DISPLAY_RESOLUTION%%</td>
    </tr>
    <tr>
      <td>Fotocamera posteriore</td>
      <td>%%CAMERA_PIXELS%%</td>
    </tr>
    <tr>
      <td>Processore</td>
      <td>%%CHIPSET%%</td>
    </tr>
    <tr>
      <td>Grandezza batteria</td>
      <td>%%BATTERY_SIZE%%</td>
    </tr>
    <tr>
      <td>Tipo batteria</td>
      <td>%%BATTERY_TYPE%%</td>
    </tr>
  </table>
  %%LINK%%
</main>