<main id="main">
  %%SIDEBAR%%
  <h2>Gestione modelli</h2>
  <p>
    &Egrave; possibile cliccando sul nome di un modello visualizzare le sue informazioni ed eliminarlo.
    Per effettuare una ricerca pi&ugrave; veloce &egrave; consigliabile applicare un filtro.
  </p>
  <form action="" method="get" class="form">
    <fieldset>
      <legend>Filtro contenuti</legend>
      <label for="brand">Scegli una marca:</label>
      <select id="brand" name="brand" onchange="f['getModels']()" disabled="disabled">
        <option value="">--Seleziona--</option>
      </select>
      <label for="model">Scegli un modello:</label>
      <select id="model" name="model" disabled="disabled">
        <option value="">--Seleziona--</option>
      </select>
      <input type="submit" value="Applica filtro" class="small button" />
    </fieldset>
  </form>
  <form action="" method="post" class="page-control form">
    <fieldset>
      <input type="hidden" name="current-page" class="small button" value="%%CURRENT_PAGE%%" />
      <input type="submit" name="first" value="<<" class="small button" aria-label="Passa alla prima pagina" />
      <input type="submit" name="prev" value="<" class="small button" aria-label="Passa alla pagina precedente" />
      <input type="submit" name="next" value=">" class="small button" aria-label="Passa alla pagina successiva" />
      <input type="submit" name="last" value=">>" class="small button" aria-label="Passa all'ultima pagina" />
    </fieldset>
  </form>
  <a class="sr-only" href="#footer">Salta il contenuto</a>
  <ul id="models">
    %%MODELS%%
  </ul>
  <form action="" method="post" class="page-control form">
    <fieldset>
      <input type="hidden" name="current-page" class="small button" value="%%CURRENT_PAGE%%" />
      <input type="submit" name="first" value="<<" class="small button" aria-label="Passa alla prima pagina" />
      <input type="submit" name="prev" value="<" class="small button" aria-label="Passa alla pagina precedente" />
      <input type="submit" name="next" value=">" class="small button" aria-label="Passa alla pagina successiva" />
      <input type="submit" name="last" value=">>" class="small button" aria-label="Passa all'ultima pagina" />
    </fieldset>
  </form>
</main>